<!DOCTYPE html>
<html>
<head>
  <title>Yelpclone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
<%= yield %>
</div>
<noscript>
  Please enable JavaScript in your browser for this website to work!
</noscript>
</body>
</html>
